@import '../primitives/colour.css';

@theme {
  /* Background */
  --background-color-neutral-secondary: var(--greyscale-10);
  --background-color-neutral-primary: var(--greyscale-0);
  --background-color-neutral-tertiary: var(--greyscale-20);
  --background-color-neutral-disabled: var(--greyscale-30);

  --background-color-neutral-inverse-secondary: var(--greyscale-90);
  --background-color-neutral-inverse-primary: var(--greyscale-100);
  --background-color-neutral-inverse-tertiary: var(--greyscale-80);

  --background-color-brand-primary: var(--green-70);
  --background-color-brand-secondary: var(--green-30);
  --background-color-brand-tertiary: var(--green-10);

  --background-color-miscellaneous-primary: var(--white-vista);
  --background-color-miscellaneous-secondary: var(--black-vista);

  /* Text */
  --text-color-neutral-primary: var(--greyscale-100);
  --text-color-neutral-secondary: var(--greyscale-80);
  --text-color-neutral-tertiary: var(--greyscale-70);
  --text-color-neutral-disabled: var(--greyscale-50);

  --text-color-neutral-inverse-primary: var(--greyscale-10);
  --text-color-neutral-inverse-secondary: var(--greyscale-20);
  --text-color-neutral-inverse-tertiary: var(--greyscale-30);

  --text-color-brand-primary: var(--green-70);
  --text-color-brand-inverse: var(--green-10);

  --text-color-miscellaneous-primary: var(--white-vista);

  /* Border */
  --border-color-neutral-primary: var(--greyscale-90);
  --border-color-neutral-secondary: var(--greyscale-70);

  --border-color-neutral-inverse-primary: var(--greyscale-30);
  --border-color-neutral-inverse-secondary: var(--greyscale-50);

  --border-color-brand-primary: var(--green-70);
  --border-color-brand-inverse: var(--green-20);
}
